*{
	margin: 0; padding: 0; box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

header{
	width: 100%; height: 100vh;
	background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.1)), url('kolkata_1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

nav{
	width: 100%; height: 15vh;
	background: rgba(0,0,0,0.2);
	color: white; display: flex;justify-content: space-between;
	align-items: center;text-transform: uppercase;
}
 
nav .logo{
	width: 25%; text-align: center;
}
 nav .menu{
 	width: 40%; 
 	display: flex; justify-content: space-around;
 }
 nav .menu a{
 	width: 25%;
 	text-decoration: none; color: white;
 	font-weight: bold;
 }

nav .menu a:first-child{
	color: #00b894;
}
 main{
 	width: 100%;
 	height: 85vh;
 	display: flex;
 	justify-content: center;
 	text-align: center;
 	align-items: center;
 	color: white;
}

section h3{
	font-size: 35px; font-weight: 200; letter-spacing: 3px;
	text-shadow: 1px 1px 2px black;
}

section h1{
	margin: 30px  0 2px 0;
	font-size: 55px;
	font-weight: 700;
	text-shadow: 2px 1px 5px black;
	text-transform: uppercase;
}

section p{
	font-size: 25px;
	word-spacing: 2px;
	margin-bottom: 25px;
	text-shadow: 1px 1px  1px black;
}

section a{
	padding: 12px 30px;
	border-radius: 4px;
	outline: none;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 500;
	text-decoration: none;
	letter-spacing: 1px;
	transition: all .5s ease;
}

section .btone{
	background: white;
	color: #000;
}

.btone:hover{
	background: #00b894;
	color: white;
}

.bt2:hover{
	background: #00b894;
	color: white;
}
section .bt2{
	background: #00b894;
	color: white;
}

.change_content: after{
	content: '';
	animation: changetext 10s infinite linear;
	color: #00b894;
}

@keyframes changetext{
	0%{content:"Victoria Memorial";}
	20%{content:"Howrah Bridge";}
	35%{content:"Belur Math";}
	60%{content:"Prinsep Ghat";}
	80%{content:"Mother Teresa’s House";}
	100%{content:"Nicco-Park";}

}